{% extends 'layouts/base.html' %}
{% load static %}


{% block content %}
		<div id="wt-wrapper" class="wt-wrapper wt-haslayout">
			<!-- Content Wrapper Start -->
			<div class="wt-contentwrapper">
				<!-- Header Start -->
				<header id="wt-header" class="wt-header wt-haslayout">
					<div class="wt-navigationarea">
						<div class="container-fluid">
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<strong class="wt-logo"><a href="index-2.html"><img src="{% static 'images/logo.png' %}" alt="company logo here"></a></strong>
									<div class="wt-rightarea">
										<nav id="wt-nav" class="wt-nav navbar-expand-lg">
											<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
												<i class="lnr lnr-menu"></i>
											</button>
											<div class="collapse navbar-collapse wt-navigation" id="navbarNav">
												<ul class="navbar-nav">
													<li class="menu-item-has-children page_item_has_children">
														<a href="javascript:void(0);">Main</a>
														<ul class="sub-menu">
															<li class="menu-item-has-children page_item_has_children wt-notificationicon"><span class="wt-dropdowarrow"><i class="lnr lnr-chevron-right"></i></span>
																<a href="javascript:void(0);">Home</a>
																<ul class="sub-menu">
																	<li><a href="index-2.html">Home v1</a></li>
																	<li class="wt-newnoti"><a href="indexvtwo.html">Home v2<em>without login</em></a></li>
																</ul>
															</li>
															<li class="menu-item-has-children page_item_has_children"><span class="wt-dropdowarrow"><i class="lnr lnr-chevron-right"></i></span>
																<a href="javascript:void(0);">Article</a>
																<ul class="sub-menu">
																	<li><a href="articlelist.html">Article List</a></li>
																	<li><a href="articlegrid.html">Article Grid</a></li>
																	<li><a href="articlesingle.html">Article Single</a></li>
																	<li><a href="articleclassic.html">Article Classic</a></li>
																</ul>
															</li>
															<li class="menu-item-has-children page_item_has_children"><span class="wt-dropdowarrow"><i class="lnr lnr-chevron-right"></i></span>
																<a href="javascript:void(0);">Company</a>
																<ul class="sub-menu">
																	<li><a href="companygrid.html">Company Grid</a></li>
																	<li><a href="companysigle.html">Company Sigle</a></li>
																</ul>
															</li>
															<li>
																<a href="about.html">About</a>
															</li>
															<li>
																<a href="privacypolicy.html">Privacy Policy</a>
															</li>
															<li>
																<a href="comingsoon.html">Coming Soon</a>
															</li>
															<li>
																<a href="404page.html">404page</a>
															</li>
														</ul>
													</li>
													<li class="nav-item">
														<a href="howitworks.html">How It Works</a>
													</li>
													<li class="menu-item-has-children page_item_has_children">
														<a href="javascript:void(0);">Browse Jobs</a>
														<ul class="sub-menu">
															<li>
																<a href="joblisting.html">Job Listing</a>
															</li>
															<li class="current-menu-item">
																<a href="jobsingle.html">Job Single</a>
															</li>
															<li>
																<a href="jobproposal.html">Job Proposal</a>
															</li>
														</ul>
													</li>
													<li class="menu-item-has-children page_item_has_children">
														<a href="javascript:void(0);">View Freelancers</a>
														<ul class="sub-menu">
															<li>
																<a href="userlisting.html">User Listing</a>
															</li>
															<li class="current-menu-item">
																<a href="usersingle.html">User Single</a>
															</li>
														</ul>
													</li>
												</ul>
											</div>
										</nav>
									</div>
								</div>
							</div>
						</div>
					</div>
				</header>
				<!--Header End-->
				
				<main id="wt-main" class="wt-main wt-haslayout">
					<!--Categories Start-->
					<section class="wt-haslayout wt-main-section">
						<div class="container">
							<div class="row justify-content-md-center">
								<div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-6 push-lg-3">
									<div class="wt-sectionhead wt-textcenter">
										<div class="wt-sectiontitle">
											<h2>Company registration</h2>
										</div>
									</div>
								</div>
								<form method="POST">
									{% csrf_token %}
									<div class="wt-categoryexpl">
										<div style="width: 100%;display: flex;justify-content: center;">
											<div class="form-group" style="width: 35%;margin: 0px 10px;">
												<input type="text" name="name" class="form-control" placeholder="Company name" required>
											</div>
											<div class="form-group" style="width: 35%;margin: 0px 10px;">
												<input type="text" name="ceo" class="form-control" placeholder="Company CEO" required>
											</div>
										</div>
										
										<div style="width: 100%;display: flex;justify-content: center;margin: 20px 0px;">
											<div class="form-group" style="width: 72.5%;margin: 0px 10px;">
												<input type="text" name="email" class="form-control" placeholder="Work email" required>
											</div>
										</div>
										
										<div style="width: 100%;display: flex;justify-content: center;margin: 20px 0px;">
											<div class="form-group" style="width: 72.5%;margin: 0px 10px;">
												<input type="password" name="password" class="form-control" placeholder="Password" required>
											</div>
										</div>
										
										<div style="width: 100%;display: flex;justify-content: center;margin: 20px 0px;">
											<div class="form-group" style="max-width: 72.5%;margin: 0px 10px;">
												<input type="password" name="confirm_password" class="form-control" placeholder="Confirm password" required>
											</div>
										</div>
										
										<div style="width: 100%;display: flex;justify-content: center;margin: 20px 0px;">
											<span class="wt-checkbox" style="max-width: 72.5%;">
												<input id="wt-login" type="checkbox" name="rememberme">
												<label for="wt-login">Yes, I understand and agree to the Worktern Terms of Service, including the User Agreement and Privacy Policy.</label>
											</span>
										</div>

										<div class="wt-btnarea">
											<button type="submit" class="wt-btn do-login-button">Registration</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</section>
					<!--Categories End-->
					
				
					<!--Skills Start-->
					<section class="wt-haslayaout wt-main-section wt-footeraboutus">
						<div class="container">
							<div class="row">
								<div class="col-12 col-sm-6 col-md-3 col-lg-3">
									<div class="wt-widgetskills">
										<div class="wt-fwidgettitle">
											<h3>By Skills</h3>
										</div>
										<ul class="wt-fwidgetcontent">
											<li><a href="javascript:void(0);">Software Engineer</a></li>
											<li><a href="javascript:void(0);">Technical Writer</a></li>
											<li><a href="javascript:void(0);">UI Designer</a></li>
											<li><a href="javascript:void(0);">UX Designer</a></li>
											<li><a href="javascript:void(0);">Virtual Assistant</a></li>
											<li><a href="javascript:void(0);">Web Designer</a></li>
											<li><a href="javascript:void(0);">Wordpress Developer</a></li>
											<li><a href="javascript:void(0);">Content Writer</a></li>
											<li class="wt-viewmore"><a href="javascript:void(0);">+ View All</a></li>
										</ul>
									</div>
								</div>
								<div class="col-12 col-sm-6 col-md-3 col-lg-3">
									<div class="wt-widgetskill">
										<div class="wt-fwidgettitle">
											<h3>Skills In US</h3>
										</div>
										<ul class="wt-fwidgetcontent">
											<li><a href="javascript:void(0);">HTML Developers in US</a></li>
											<li><a href="javascript:void(0);">HTML5 Developers in US</a></li>
											<li><a href="javascript:void(0);">JavaScript Developers in US</a></li>
											<li><a href="javascript:void(0);">Microsoft Word Experts in US</a></li>
											<li><a href="javascript:void(0);">PowerPoint Experts in US</a></li>
											<li><a href="javascript:void(0);">Social Media Marketers in US</a></li>
											<li><a href="javascript:void(0);">WordPress Developers in US</a></li>
											<li><a href="javascript:void(0);">Writers in US</a></li>
											<li class="wt-viewmore"><a href="javascript:void(0);">+ View All</a></li>
										</ul>
									</div>
								</div>
								<div class="col-12 col-sm-6 col-md-3 col-lg-3">
									<div class="wt-footercol wt-widgetcategories">
										<div class="wt-fwidgettitle">
											<h3>By Categories</h3>
										</div>
										<ul class="wt-fwidgetcontent">
											<li><a href="javascript:void(0);">Graphics &amp; Design</a></li>
											<li><a href="javascript:void(0);">Digital Marketing</a></li>
											<li><a href="javascript:void(0);">Writing &amp; Translation</a></li>
											<li><a href="javascript:void(0);">Video &amp; Animation</a></li>
											<li><a href="javascript:void(0);">Music &amp; Audio</a></li>
											<li><a href="javascript:void(0);">Programming &amp; Tech</a></li>
											<li><a href="javascript:void(0);">Business</a></li>
											<li><a href="javascript:void(0);">Fun &amp; Lifestyle</a></li>
											<li class="wt-viewmore"><a href="javascript:void(0);">+ View All</a></li>
										</ul>
									</div>
								</div>
								<div class="col-12 col-sm-6 col-md-3 col-lg-3">
									<div class="wt-widgetbylocation">
										<div class="wt-fwidgettitle">
											<h3>By Location</h3>
										</div>
										<ul class="wt-fwidgetcontent">
											<li><a href="javascript:void(0);">Switzerland</a></li>
											<li><a href="javascript:void(0);">Canada</a></li>
											<li><a href="javascript:void(0);">Germany</a></li>
											<li><a href="javascript:void(0);">United Kingdom</a></li>
											<li><a href="javascript:void(0);">Japan</a></li>
											<li><a href="javascript:void(0);">Sweden</a></li>
											<li><a href="javascript:void(0);">Australia</a></li>
											<li><a href="javascript:void(0);">United States</a></li>
											<li class="wt-viewmore"><a href="javascript:void(0);">+ View All</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</section>
					<!--Skills Start End-->
				</main>
				<!--Main End-->
				
				<!--Footer End-->
			</div>
			<!--Content Wrapper End-->
		</div>
	{% endblock content %}